body{
	margin: 0;
	padding: 0;
	font: 12px Tahoma, Geneva, sans-serif;
	background: url("images/bg-gradient.png") repeat-x fixed;
	background-size: contain;
	text-align: justify;
	color: #837550;
}
.clear{
	min-height: 0;
	_zoom: 1;
}
.clear:after{
	content: "";
	clear: both;
	display: block;
}
a img{
	border: 0;
}
#wrapper{
	width: 735px;
	height: 786px;
	margin: 30px auto;
	border-radius: 10px;
	background-color: #9a8a65;
}
#header{
	height: 261px;
	background: url("images/header.png") no-repeat;
	border-radius: 10px;
	padding: 0;
	margin: 0;
}
#header a img{
	margin-left: 10px;
}
#nav{
	position: relative;
	top: -140px;
	left: 0;
	width: 223px;
	height: 205px;
	background-color: #cdc4aa;
	padding: 20px 0 15px 0;
	margin-left: 7px;
	border-radius: 10px 10px 0 0;
	z-index: 1;	
}
#nav ul{
	padding: 0;
	margin: 0;
	line-height: 32px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#nav li{
	list-style: none;
	background: #2a2a2a url("images/bullet.gif") no-repeat;
	background-position: 180px 14px;
	border-bottom: 1px solid #8a8a8a;
	text-indent: 25px;
	display: block;
}
#nav li:last-child{
	border-bottom: 0;
}
#nav li:hover{
	background-image: url("images/bullet-hover.gif");
}
#nav li  a{
	text-decoration: none;
	padding: 0 5px 0 5px;
	border-left: 1px solid #8a8a8a;
	color: #fff;
}
#nav li  a:hover{
	color: #eac47a;
}
#left-sidebar{
	position: relative;
	top: -155px;
	left: 0;
	width: 223px;
	height: 270px;
	margin-left: 7px;
	background: #fdfbf2 url("images/left-sidebar-gradient.gif") repeat-y top right;
	z-index: 1;
}
#left-sidebar ul{
	padding: 20px 30px 15px 30px;
}
#left-sidebar li{
	list-style: none;
}
#left-sidebar li:first-child{
	border-bottom: 1px dotted #e1e0dd;
}
.more{
	font-weight: bold;
	font-size: 11px;
	color: #837550;
	float: right;
}
#support{
	position: relative;
	top: -175px;
	left: 0;
	width: 223px;
	height: 90px;
	margin-left: 7px;
	background: url("images/support.png") no-repeat;
	background-size: 223px 90px;
	border-radius: 0 10px 10px 0;
	z-index: 1;
}
#support span{
	position: relative;
	top: 5px;
	left: 25px;
	color: #000;
}
#content{
	position: relative;
	top: -627px;
	left: 225px;
	width: 473px;
	height: 435px;
	line-height: 14px;
	padding-left: 30px;
	background-color: #fff;
	z-index: 0;
}
#content .img-box-left-padding{
	float: left;
	padding-right: 15px;
}
#content h2{
	color: #bf8d09;
	padding-top: 47px;
}
#content h3{
	color: #ccb064;
	margin-top: 0;
}
#content #welcome-div,#content #company-profile{
	border-top: 1px solid #cfbd93;
	padding: 15px 25px 15px 0;
}
#content img{
	border: 6px solid #fff;
	border-radius: 5px;
}

#content .img-border{
	display: inline-block;
	float: left;
	padding: 6px;
	border: 1px solid #dbd1b8;
	border-radius: 10px;
	background-color: #e7e0ce;
}
.img-padding{
	margin-right: 10px;
}
#company-profile{
	font-size: 11px;
}
#company-profile>div:first-child{
	float: left;
	width: 220px;
}
#content #company-profile img{
	border-radius: 5px 5px 0 0 !important;
}
#content #company-profile div:first-child p{
	padding-right: 10px;
}
#content #company-profile h5{
	text-align: center;
	margin: 0;
	padding: 3px 0 5px 0;
	border-top: 2px solid #e7e0ce;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
}
.text-content p:first-child,#company-profile p{
	margin-top: 0;
}
#footer{
	position: relative;
	top: -627px;
	left: 0;
	border-left: 7px solid #9a8a65;
	border-right: 7px solid #9a8a65;
	text-align: center;
	padding: 0 0 20px 0;
	background-color: #dfd4b5;
	font-weight: bold;
}
#footer div:empty{
	height: 30px;
	background-color: #fff;
	border-bottom: 20px solid #dfd4b5;
}
#active a{
	color: #eac47a !important;
}
#active{
	background-image: url("images/bullet-hover.gif") !important;
}
